.flex-center{
    display : flex;
    justify-content: space-between;
}

.flex-around{
    display : flex;
    justify-content: space-around;
}
.container{
    max-width: 80%;
    /* margin: auto; */
}


.nav-items{
    max-width: 50%;
}

.nav-logo{
    width: 25px;
    height: 25px;
}

.form-inp:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0;
    border: none;
    box-shadow: 0 0 0 0.1rem rgb(255 255 255 / 25%);
}

.nav-brand{
    text-decoration: none;
    align-items: center;
}

.nav-title{
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    margin: 0;
}